body {
  height: 100vh;
  background-color: #242424;
  color: #fff;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
  overflow: hidden;
}

.prompt {
  width: 2em;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 50vmin;
}

.answer {
  width: 2em;
  min-height: 1.5em;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 10vmin;
  background-color: transparent;
  border: none;
  outline: none;
}

.kanaTable {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
  justify-content: center;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', monospace;
  font-size: 28px;
  padding: 1em;
  h1 {
    width: 4em;
  }
  th {
    color: #424242;
    font-style: italic;
  }
  td {
    padding: 0.2em;
  }
}