body {
  background-color: #242424;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  background-color: #202020;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 30vmin;
  user-select: none;
  white-space: pre;
  min-width: 3em;
}

.answer {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10vmin;
  min-height: 1.2em;
  color: white;
  text-align: center;
}