body {
  height: 100vh;
  overflow: hidden;
  background-color: #242424;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.prompt {
  width: 2em;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 50vmin;
}

.answer {
  width: 2em;
  min-height: 1.5em;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 10vmin;
  background-color: transparent;
  border: none;
  outline: none;
}